html {
  font-family: serif;
  background-color: bisque;
}

/* would like to add bevel buttons lol */

#menu-bar {
  display: flex;
  flex-direction: row;
  padding: 15px;
  margin-left: 10px;
}

#menu-bar button {
  font-size: 16px;
  margin: 15px;
  padding: 10px 20px;
  border-radius: 8px;
  border: 2px solid #333;
  background-color: #eee;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

#menu-bar button:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #333;
}

table {
  /* remove extra space between table cells */
  border-spacing: 0;

  /* frame the table with a border on top and bottom */
  border: 2px dotted #000000;
}

table tr {
  /* default table background color */
  background-color: #ffffff;
}

table tr:nth-child(even) {
  /* alternate row color */
  background-color: #eb7171;
}

/* table headers */
table th {
  text-align: left;
  font-weight: bold;

  /* required for scrolling table header: must specify color of cell */
  background-color: #ffffff;

  /* line underneath header */
  border-bottom: 1px solid #000000;

  /* spacing between cells */
  padding: 10px;

  /* scrolling table header */
  position: sticky;
  top: 0px;
}

/* table cells (not header data) */
table td {
  text-align: left;
  font-weight: normal;

  /* cell border */
  /* border-bottom: 1px solid #000000; */

  /* spacing between cells */
  /* padding: 8px; */

  /* spacing between columns */
  padding-left: 8px;
  padding-right: 8px;
}

/* remove spacing between columns on last column */
table td:last-child {
  padding-right: 8px;
}

form {
  display: inline-block;
}

form div {
  margin: 6px 0;
}

.feedback {
  color: #dc341e;
  font-weight: bold;
  font-family: serif;
  margin-bottom: -0.25em !important;
}

.hidden {
  display: none;
}

body {
  background-color: #f5e5c5;
  font-family: 'Courier New', Courier, monospace;
  color: #444;}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 1px;
  margin: 10px 0;
  color: #a53724;
  text-shadow: 2px 2px #eee;
}

a {
  color: #a53724;
  text-decoration: none;
  border-bottom: 1px solid #a53724;
}

a:hover {
  background-color: #a53724;
  color: #f5e5c5;
}

.button {
  font-family: 'Permanent Marker', cursive;
  font-size: 18px;
  padding: 12px 30px;
  background-color: #a53724;
  color: #f5e5c5;
  text-shadow: 1px 1px #444;
  border: none;
  border-radius: 30px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.button:hover {
  background-color: #f5e5c5;
  color: #a53724;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
  background-color: #f5e5c5;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
